* {
	margin: 0;
	padding: 0;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

input {
	padding-left: 2pc;
	border: none;
	outline: none;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
}

body {
	background: rgb(35, 69, 69);
}
